
<div class="s-testimonials">

    <div class="overlay"></div>

    <div class="row testimonials-header">
        <div class="col-full">
            <h1 class="h02">İnsanlar Benim İçin Ne Dediler?</h1>
        </div>
    </div>

    <div class="row testimonials">

        <div class="col-full testimonials__slider">

            <div class="testimonials__slide">
                <img src="https://randomuser.me/api/portraits/men/44.jpg" alt="Author image" class="testimonials__avatar">
                <p>
                    Yağmur çok hızlı öğreniyor ve her görevi büyük bir özenle tamamlıyor.
                    Projelerde sorumluluk almayı seviyor ve takım içinde hep pozitif bir enerji yaratıyor.
                </p>
                <div class="testimonials__author h06">
                    Ahmet Yılmaz
                    <span>Senior .NET Developer</span>
                </div>
            </div>

            <div class="testimonials__slide">
                <img src="https://randomuser.me/api/portraits/women/65.jpg" alt="Author image" class="testimonials__avatar">
                <p>
                    Henüz junior olmasına rağmen Yağmur, yazılımda sağlam bir temel oluşturuyor ve kod kalitesine dikkat ediyor.
                    Takım arkadaşlarına her zaman yardım etmeye hazır.
                </p>
                <div class="testimonials__author h06">
                    Elif Demir
                    <span>Team Lead, Software</span>
                </div>
            </div>

            <div class="testimonials__slide">
                <img src="https://randomuser.me/api/portraits/men/36.jpg" alt="Author image" class="testimonials__avatar">
                <p>
                    Yağmur, .NET projelerinde kendini geliştirmeye açık ve hızlı adapte oluyor.
                    Öğrenmeye hevesli olması, onu gelecekte çok başarılı bir developer yapacak.
                </p>
                <div class="testimonials__author h06">
                    Mehmet Kara
                    <span>Project Manager</span>
                </div>
            </div>



        </div> <!-- end testimonials__slider -->

    </div> <!-- end testimonials -->

</div>