<section id="works" class="s-works target-section">

    <div class="row narrow section-intro has-bottom-sep">
        <div class="col-full">
            <h3>Portfolyo</h3>
            <h1>Son Projelerime Göz Atabilirsiniz</h1>

            <p class="lead">
                Her zaman özenli çalışmak ve görevleri zamanında tamamlamak önemlidir.
                Kendine ve başkalarına karşı sorumluluk almak, başarılı bir iş yaşamının temelidir.
                Zorluklarla karşılaşsa da yılmadan devam etmek ve öğrenmeye açık olmak, kişiyi güçlendirir..
            </p>
        </div>
    </div>

    <div class="row masonry-wrap">
        <div class="masonry">

            <!-- Portfolio Başlangıç -->

            <div class="masonry__brick">
                <div class="item-folio">
                    <div class="item-folio__thumb">
                        <a href="https://picsum.photos/id/1015/1050/700" class="thumb-link" title="The Beetle" data-size="1050x700">
                            <img src="https://picsum.photos/id/1015/600/400"
                                 srcset="https://picsum.photos/id/1015/600/400 1x, https://picsum.photos/id/1015/1200/800 2x" alt="">
                            <span class="shadow-overlay"></span>
                        </a>
                    </div>
                    <div class="item-folio__text">
                        <h3 class="item-folio__title">The Beetle</h3>
                        <p class="item-folio__cat">Web Development</p>
                    </div>
                    <a href="https://www.behance.net/" class="item-folio__project-link" title="Project link">
                        <i class="im im-link"></i>
                    </a>
                    <div class="item-folio__caption">
                        <p>Modern ve etkileyici bir web geliştirme projesi.</p>
                    </div>
                </div>
            </div>

            <div class="masonry__brick">
                <div class="item-folio">
                    <div class="item-folio__thumb">
                        <a href="https://picsum.photos/id/1025/1050/700" class="thumb-link" title="Lighthouse" data-size="1050x700">
                            <img src="https://picsum.photos/id/1025/600/400"
                                 srcset="https://picsum.photos/id/1025/600/400 1x, https://picsum.photos/id/1025/1200/800 2x" alt="">
                            <span class="shadow-overlay"></span>
                        </a>
                    </div>
                    <div class="item-folio__text">
                        <h3 class="item-folio__title">Lighthouse</h3>
                        <p class="item-folio__cat">Web Design</p>
                    </div>
                    <a href="https://www.behance.net/" class="item-folio__project-link" title="Project link">
                        <i class="im im-link"></i>
                    </a>
                    <div class="item-folio__caption">
                        <p>Yaratıcı ve modern web tasarım çalışması.</p>
                    </div>
                </div>
            </div>

            <div class="masonry__brick">
                <div class="item-folio">
                    <div class="item-folio__thumb">
                        <a href="https://picsum.photos/id/1035/1050/700" class="thumb-link" data-size="1050x700">
                            <img src="https://picsum.photos/id/1035/600/400"
                                 srcset="https://picsum.photos/id/1035/600/400 1x, https://picsum.photos/id/1035/1200/800 2x" alt="">
                            <span class="shadow-overlay"></span>
                        </a>
                    </div>
                    <div class="item-folio__text">
                        <h3 class="item-folio__title">Salad</h3>
                        <p class="item-folio__cat">Branding</p>
                    </div>
                    <a href="https://www.behance.net/" class="item-folio__project-link" title="Project link">
                        <i class="im im-link"></i>
                    </a>
                    <span class="item-folio__caption">
                        <p>Minimal ve etkileyici bir marka çalışması.</p>
                    </span>
                </div>
            </div>

            <div class="masonry__brick">
                <div class="item-folio">
                    <div class="item-folio__thumb">
                        <a href="https://picsum.photos/id/1045/1050/700" class="thumb-link" data-size="1050x700">
                            <img src="https://picsum.photos/id/1045/600/400"
                                 srcset="https://picsum.photos/id/1045/600/400 1x, https://picsum.photos/id/1045/1200/800 2x" alt="">
                            <span class="shadow-overlay"></span>
                        </a>
                    </div>
                    <div class="item-folio__text">
                        <h3 class="item-folio__title">Woodcraft</h3>
                        <p class="item-folio__cat">Branding</p>
                    </div>
                    <a href="https://www.behance.net/" class="item-folio__project-link" title="Project link">
                        <i class="im im-link"></i>
                    </a>
                    <span class="item-folio__caption">
                        <p>Ahşap tasarım ve marka çalışması örneği.</p>
                    </span>
                </div>
            </div>

            <div class="masonry__brick">
                <div class="item-folio">
                    <div class="item-folio__thumb">
                        <a href="https://picsum.photos/id/1055/1050/700" class="thumb-link" data-size="1050x700">
                            <img src="https://picsum.photos/id/1055/600/400"
                                 srcset="https://picsum.photos/id/1055/600/400 1x, https://picsum.photos/id/1055/1200/800 2x" alt="">
                            <span class="shadow-overlay"></span>
                        </a>
                    </div>
                    <div class="item-folio__text">
                        <h3 class="item-folio__title">Skaterboy</h3>
                        <p class="item-folio__cat">Web Development</p>
                    </div>
                    <a href="https://www.behance.net/" class="item-folio__project-link" title="Project link">
                        <i class="im im-link"></i>
                    </a>
                    <span class="item-folio__caption">
                        <p>Genç ve dinamik bir web geliştirme projesi.</p>
                    </span>
                </div>
            </div>

            <div class="masonry__brick">
                <div class="item-folio">
                    <div class="item-folio__thumb">
                        <a href="https://picsum.photos/id/1065/1050/700" class="thumb-link" data-size="1050x700">
                            <img src="https://picsum.photos/id/1065/600/400"
                                 srcset="https://picsum.photos/id/1065/600/400 1x, https://picsum.photos/id/1065/1200/800 2x" alt="">
                            <span class="shadow-overlay"></span>
                        </a>
                    </div>
                    <div class="item-folio__text">
                        <h3 class="item-folio__title">Liberty</h3>
                        <p class="item-folio__cat">Branding</p>
                    </div>
                    <a href="https://www.behance.net/" class="item-folio__project-link" title="Project link">
                        <i class="im im-link"></i>
                    </a>
                    <span class="item-folio__caption">
                        <p>Özgün ve yaratıcı marka tasarımı örneği.</p>
                    </span>
                </div>
            </div>

            <div class="masonry__brick">
                <div class="item-folio">
                    <div class="item-folio__thumb">
                        <a href="https://picsum.photos/id/1075/1050/700" class="thumb-link" data-size="1050x700">
                            <img src="https://picsum.photos/id/1075/600/400"
                                 srcset="https://picsum.photos/id/1075/600/400 1x, https://picsum.photos/id/1075/1200/800 2x" alt="">
                            <span class="shadow-overlay"></span>
                        </a>
                    </div>
                    <div class="item-folio__text">
                        <h3 class="item-folio__title">Minimalismo</h3>
                        <p class="item-folio__cat">Web Design</p>
                    </div>
                    <a href="https://www.behance.net/" class="item-folio__project-link" title="Project link">
                        <i class="im im-link"></i>
                    </a>
                    <span class="item-folio__caption">
                        <p>Sade ve modern bir web tasarım çalışması.</p>
                    </span>
                </div>
            </div>

            <!-- 8. Proje -->
            <div class="masonry__brick">
                <div class="item-folio">
                    <div class="item-folio__thumb">
                        <a href="https://picsum.photos/id/237/1050/700" class="thumb-link" data-size="1050x700">
                            <img src="https://picsum.photos/id/237/600/400"
                                 srcset="https://picsum.photos/id/237/600/400 1x, https://picsum.photos/id/237/1200/800 2x" alt="">
                            <span class="shadow-overlay"></span>
                        </a>
                    </div>
                    <div class="item-folio__text">
                        <h3 class="item-folio__title">Lady Shutterbug</h3>
                        <p class="item-folio__cat">Branding</p>
                    </div>
                    <a href="https://www.behance.net/" class="item-folio__project-link" title="Project link">
                        <i class="im im-link"></i>
                    </a>
                    <span class="item-folio__caption">
                        <p>Profesyonel fotoğraf ve marka çalışması örneği.</p>
                    </span>
                </div>
            </div>

            
            <!-- Portfolio Bitiş -->

        </div>
    </div> <!-- end masonry -->

</section>
